.blue_bg{background:#3d202d; padding:10px;}
.wallet img{max-width:100%; max-height:40px; float:left;}
.username, .text-white{color:#fff;line-height: 32px;font-size: 16px;}
.nemu_icon ion-icon{color:#fff;line-height: 32px;font-size: 32px;}
h5{margin:0px;}
.broder-top{border-top:solid 1px #573142;}
.broder-right{border-right:solid 1px #573142;}
ion-icon{ vertical-align: middle; }
.button_new{border-radius: 0;height: 24px;font-size: 15px;color:#fff;background-color:transparent;margin: 5px 0 0;padding: 0;box-shadow: none;}
.button_new:hover, .button_new:focus{background-color:transparent;}

.red_circle{background:#c1062a; padding:7px; text-align:center; width:30px; height:30px;border-radius: 50%;}
.red_circle img{max-width:100%;}
.chick_circle{font-size:18px; color:#6aa3e6;}

.left{float:left;}
.right{float:right;}

.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}

.text-white{color:#fff;}
.text-light{color:#d0d0d0;}

.font16{font-size:16px !important;}

.padding-0{padding:0px !important;}
.text-blue{color:#7a75d1;}

ion-card{min-height: 60px;}