.scan_img{max-width:160px; max-height:160px;}

.button_outline{background:#fff; color:#666; border:solid 2px #ccc;border-radius: 0;padding: 5px 20px;}
.button_outline.activated {background-color: #fff !important;}