.label-ios + ion-input .text-input, .label-ios + ion-textarea .text-input, .label-ios + .input + .cloned-input {margin: 0 0 8px;width: 100%;background: #f7f8fa;padding: 12px 8px;font-size: 14px;}
.text-input{margin: 0 0 15px;width: 100%;background: #f7f8fa;padding: 12px 8px;font-size: 14px;}

.form-wrap{width: 100%;background:#fff; margin: auto;position: relative;margin-left: -10px !important;}

.invalid-feedback {color: #f00;font-size: 14px;margin: 2px 0 0 15px; display: block;}
